{% extends 'base.html.twig' %}

{% block title %}Détail d'un article{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <h1 class="text-center">Détail d'un article</h1>

            <h3>{{ article.title }}</h3>
            <p>{{ article.content|nl2br }}</p>

            <p class="small text-right text-muted">Publié le {{ article.createdAt|date('d/m/Y H:i') }}</p>

            {% if article.picture is not empty %}
                {# La fonction asset() en twig va automatiquement vous emmener au répertoire "public" #}
                <img src="{{ asset(article.picture) }}" alt=" Mon image">

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}