{% extends 'base.html.twig' %}

{% block title %}Ma playlist{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>Ma playlist : {{ playlist.name }}</h1>

            {% for song in playlist.getSongs() %}
            <div class="row">
                <div class="col-6">
                    {{ song.title }}
                </div>
                <div class="col-6">
                {% if song.audioFile is not empty %}
                <audio controls>
                    <source src="{{ asset(song.audioFile) }}" type="audio/mpeg">                    
                </audio>
                {% endif %}
                    
                </div>

                <div class="col-6">
                {% if song.video is not empty %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ song.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}    
                </div> 
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}